{% extends "layout.html" %}
{% block title %}Регистрация{% endblock %}
{% block h1 %}Создание аккаунта{% endblock %}
{% block main %}
        <form action="{% url 'signup' %}" method="post">
            <label>{{ form.username.label }}<br>{{ form.username }}</label><br>
            <label>{{ form.password1.label }}<br>{{ form.password1 }}</label><br>
            <label>{{ form.password2.label }}<br>{{ form.password2 }}</label><br>
            <button>Зарегистрироваться</button>
        </form>
{% endblock %}