{% extends "layout.html" %}
{% block h1 %}Сокращение ссылок{% endblock %}
{% block main %}
        {% if user.is_authenticated %}
        <div>
            <div><input type="url" id="long-url"><button id="short-btn">Сократить</button></div>
            <div><input type="url" id="short-url" disabled><button id="copy-btn">Скопировать</button></div>
        </div>
        {% else %}
        <p>Чтобы начать сокращать ссылки,</p>
        <p><a href="{% url 'login' %}" class="small-btn">авторизуйтесь</a> или <a href="{% url 'signup' %}" class="small-btn">зарегистрируйтесь</a></p>
        {% endif %}
{% endblock %}